*{
    margin: 0%;
    padding: 0%;    
}
#image{  
    background-color: #504074;
    padding-bottom: 50px;
    height: 35px;
}
main{
    background-color:#7E69AC;
    height: 900px;
    width: 100%;
}
footer{
    background-color:#ede9e3;
    height: 230px;
    width: 100%;
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #504074;
}
h2{
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-size: 20px; 
    margin-bottom: 9px;
    text-align: center;
}
h3{
    text-align: right;
    margin-right: 30px;
    color: #504074;
}
ul{
    float: left;
    margin-left: 200px;
}
ul li{   
    list-style: none;
    margin-top: 5px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}
p{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}
#pesquisa{
    height: 50px;
    margin-bottom: 20px;
    
}
#logo{
    margin-left: 450px;
    height: 80px;
    width: 220px;
    margin-top: -40px;
    margin-top: 10px;
}

#carrinho{
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-top: 25px;
}
#vcs{
    width: 300px;
    margin-left: 100px;
}
.caixa{
    width: 230px;
    height: 350px;
    margin-top: 40px;
    margin-left: 70px;
    background-color: #504074;
    float: left;
    display: block;
    border-radius: 5%;
    align-items: center;
}
#ftOvo{
    width: 90%;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5%;

}
#ftOvo:hover{
    height: 220px;
    
    transition: 1s;
}
button{
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 15px black;
    transition: 0.6s;   
}
button:hover{
    background-color: #FFC300;

}

